@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyzáéíóúÁÉÍÓÚ0123456789:.,-");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&text=artifclmentARTIFCLMENT");
@import url("https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wdth,wght@12..36,75..150,300..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-merri: "Merriweather Sans";
    --font-merri--font-variation-settings: "wght" 355;
    --font-mont-alt: "Montserrat Alternates";
    --font-sans: "TikTok Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-sans--font-variation-settings: "wdth" 90, "wght" 420;

    --color-azul-50: oklch(0.855 0.08 212);
    --color-azul-100: oklch(0.771 0.08 212);
    --color-azul-200: oklch(0.687 0.08 212);
    --color-azul-300: oklch(0.603 0.08 212);
    --color-azul-400: oklch(0.519 0.08 212);
    --color-azul-500: oklch(0.436 0.08 212);
    --color-azul-600: oklch(0.352 0.08 212);
    --color-azul-700: oklch(0.268 0.08 212);
    --color-azul-800: oklch(0.184 0.08 212);
    --color-azul-900: oklch(0.1 0.08 212);

    --color-app-back: var(--color-white);
    --color-app-fore: var(--color-neutral-800);

    --color-action: oklch(0.544 0.055 204);
    --color-action-hover: oklch(0.494 0.055 204);
    --color-primary: oklch(0.645 0.181 46);
    --color-primary-light: oklch(0.703 0.181 46);
    --color-primary-dark: oklch(0.486 0.181 46);

    --color-contrast: var(--color-white);
    --color-low-contrast: var(--color-neutral-100);
    --color-inverse-low: var(--color-neutral-500);
    --color-inverse: var(--color-black);

    --color-list-name: var(--color-primary-dark);
    --color-header: var(--color-primary-light);
    --color-button-hover: var(--color-primary);

    --color-action-contrast: var(--color-contrast);
    --color-primary-contrast: var(--color-contrast);
    --color-header-contrast: var(--color-contrast);
    --color-header-low-contrast: var(--color-low-contrast);
    --color-button-contrast: var(--color-contrast);
    --color-card-hover: var(--color-contrast);

    --color-search-contrast: var(--color-inverse);
    --color-item-hover-contrast: var(--color-inverse);
    --color-prompt: var(--color-inverse);

    --color-search: var(--color-neutral-50);
    --color-placeholder: var(--color-neutral-400);
    --color-drawer: var(--color-neutral-50);
    --color-drawer-header: var(--color-neutral-50);
    --color-card: var(--color-neutral-50);
    --color-not-found: var(--color-neutral-500);
    --color-item-hover: var(--color-neutral-200);
    --color-drop-back: var(--color-neutral-100);

    --color-resaltador: #ffff00;
}

.dark {
    --color-app-back: var(--color-neutral-800);
    --color-app-fore: var(--color-neutral-50);

    --color-action: oklch(0.695 0.181 46);
    --color-action-hover: oklch(0.735 0.181 46);
    --color-primary: oklch(0.604 0.055 204);
    --color-primary-light: oklch(0.544 0.055 204);
    --color-primary-dark: oklch(0.794 0.055 204);

    --color-contrast: var(--color-white);
    --color-low-contrast: var(--color-neutral-200);
    --color-inverse-low: var(--color-neutral-400);
    --color-inverse: var(--color-white);

    --color-card-hover: var(--color-neutral-900);

    --color-search-contrast: var(--color-black);
    --color-prompt: var(--color-contrast);

    --color-drawer: var(--color-neutral-800);
    --color-drawer-header: var(--color-neutral-800);
    --color-card: var(--color-neutral-800);
    --color-item-hover: var(--color-neutral-700);
    --color-drop-back: var(--color-neutral-700);

    --color-resaltador: #ff900090;
}

@layer components {
    .drawer {
        overflow: hidden;
        display: block;
        width: 18rem;

        @apply transition-all duration-300 ease-in-out;
    }

    .drawer.open {
        opacity: 1;
        left: 0;
        @apply space-y-1;
    }

    .drawer:not(.open) {
        @apply -left-72 opacity-100 md:left-0;
    }

    .search-chip {
        @apply text-sm px-3 py-1 whitespace-nowrap rounded-lg border-primary-dark border-[1px];
    }

    .search-chip.activa {
        @apply border-action border-2;
    }

    select,
    ::picker(select) {
        appearance: base-select;
    }

    ::picker(select) {
        @apply border-neutral-500/30;
        opacity: 0;
        transition: all 0.25s allow-discrete;
        background-color: var(--color-drop-back);
    }

    ::picker(select):popover-open {
        opacity: 1;
    }

    @starting-style {
        ::picker(select):popover-open {
            opacity: 0;
        }
    }

    select::picker-icon {
        color: #999;
        transition: 0.4s rotate;
    }

    select:open::picker-icon {
        rotate: 180deg;
    }

    option::checkmark {
        display: none;
    }

    option {
        padding-inline: 1rem;
        padding-block: 0.5rem;
    }

    .spinner {
        @apply animate-spin  border-4  transition-discrete transition-all duration-300 opacity-0  hidden border-t-neutral-100/50 border-r-neutral-100/50 border-b-neutral-100/50 border-l-white min-w-8 h-8 rounded-full;
    }

    .spinner-show {
        @apply opacity-100 inline-block;
    }

    @starting-style {
        .spinner-show {
            opacity: 0;
        }
    }
}
