@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyzáéíóúÁÉÍÓÚ0123456789:.,-");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-merri: "Merriweather Sans";

    --color-azul-50: oklch(0.855 0.08 212);
    --color-azul-100: oklch(0.771 0.08 212);
    --color-azul-200: oklch(0.687 0.08 212);
    --color-azul-300: oklch(0.603 0.08 212);
    --color-azul-400: oklch(0.519 0.08 212);
    --color-azul-500: oklch(0.436 0.08 212);
    --color-azul-600: oklch(0.352 0.08 212);
    --color-azul-700: oklch(0.268 0.08 212);
    --color-azul-800: oklch(0.184 0.08 212);
    --color-azul-900: oklch(0.1 0.08 212);

    --color-app-back: var(--color-white);
    --color-app-fore: var(--color-neutral-800);

    --color-action: oklch(0.444 0.055 204);
    --color-primary: oklch(0.645 0.181 46);
    --color-primary-light: oklch(0.703 0.181 46);
    --color-primary-dark: oklch(0.486 0.181 46);

    --color-contrast: var(--color-white);
    --color-low-contrast: var(--color-neutral-100);
    --color-inverse: var(--color-black);

    --color-list-name: var(--color-primary-dark);
    --color-header: var(--color-primary-light);
    --color-button-hover: var(--color-primary);

    --color-action-contrast: var(--color-contrast);
    --color-primary-contrast: var(--color-contrast);
    --color-header-contrast: var(--color-contrast);
    --color-header-low-contrast: var(--color-low-contrast);
    --color-button-contrast: var(--color-contrast);
    --color-card-hover: var(--color-contrast);

    --color-search-contrast: var(--color-inverse);
    --color-item-hover-contrast: var(--color-inverse);
    --color-prompt: var(--color-inverse);

    --color-search: var(--color-neutral-50);
    --color-placeholder: var(--color-neutral-400);
    --color-drawer: var(--color-neutral-50);
    --color-drawer-header: var(--color-neutral-50);
    --color-card: var(--color-neutral-50);
    --color-not-found: var(--color-neutral-500);
    --color-item-hover: var(--color-neutral-200);

    --color-resaltador: #ffff00;
}

.dark {
    --color-app-back: var(--color-neutral-800);
    --color-app-fore: var(--color-neutral-50);

    --color-action: oklch(0.695 0.181 46);
    --color-primary: oklch(0.604 0.055 204);
    --color-primary-light: oklch(0.544 0.055 204);
    --color-primary-dark: oklch(0.794 0.055 204);

    --color-contrast: var(--color-white);
    --color-low-contrast: var(--color-neutral-200);
    --color-inverse: var(--color-white);

    --color-card-hover: var(--color-neutral-900);

    --color-search-contrast: var(--color-black);
    --color-prompt: var(--color-contrast);

    --color-drawer: var(--color-neutral-800);
    --color-drawer-header: var(--color-neutral-800);
    --color-card: var(--color-neutral-800);
    --color-item-hover: var(--color-neutral-700);

    --color-resaltador: #ff900090;
}

@layer components {
    .drawer {
        overflow: hidden;
        display: block;
        width: 18rem;

        @apply transition-all  duration-300 ease-in-out;
    }

    .drawer.open {
        opacity: 1;
        left: 0;
        @apply space-y-1;
    }

    .drawer:not(.open) {
        @apply -left-72   opacity-100 md:left-0;
    }

    .search-chip {
        @apply text-sm  px-3 py-1  whitespace-nowrap rounded-lg border-primary-dark border-[1px];
    }

    .search-chip.activa {
        @apply border-action border-2;
    }
}
