@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Merriweather+Sans:ital@0;1&family=Paprika&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyzáéíóúÁÉÍÓÚ0123456789:.,-");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-lato: "Lato";
  --font-merri: "Merriweather Sans";
  --font-pprika: "Paprika";
  --color-azul-50: oklch(0.855 0.08 212);
  --color-azul-100: oklch(0.771 0.08 212);
  --color-azul-200: oklch(0.687 0.08 212);
  --color-azul-300: oklch(0.603 0.08 212);
  --color-azul-400: oklch(0.519 0.08 212);
  --color-azul-500: oklch(0.436 0.08 212);
  --color-azul-600: oklch(0.352 0.08 212);
  --color-azul-700: oklch(0.268 0.08 212);
  --color-azul-800: oklch(0.184 0.08 212);
  --color-azul-900: oklch(0.1 0.08 212);

  --color-fondo-a: oklch(0.975 0.064 73);
  --color-fondo-b: oklch(0.975 0.064 89);
  --color-fondo-c: oklch(0.975 0.064 104);
  --color-fondo-d: oklch(0.975 0.064 120);

  --color-maiz-suave: oklch(0.975 0.184 70);

  --color-app-back: var(--color-white);
  --color-app-fore: var(--color-neutral-800);

  --color-action: var(--color-azul-500);
  --color-action-contrast: var(--color-white);
  --color-primary: var(--color-orange-400);
  --color-primary-contrast: var(--color-white);
  --color-primary-soft: var(--color-orange-800);
  --color-search: var(--color-neutral-50);
  --color-search-contrast: var(--color-blck);
  --color-placeholder: var(--color-neutral-400);
  --color-drawer: var(--color-neutral-50);
  --color-drawer-header: var(--color-neutral-50);
  --color-header: var(--color-neutral-200);
  --color-header-contrast: var(--color-black);
  --color-button-hover: var(--color-neutral-100);
  --color-button-contrast: var(--color-black);
  --color-prompt: var(--color-black);
  --color-card: var(--color-neutral-50);
  --color-card-hover: var(--color-white);
  --color-not-found: var(--color-neutral-500);
  --color-list-name: var(--color-orange-700);
  --color-item-hover: var(--color-neutral-200);
  --color-item-hover-contrast: var(--color-black);
}

.dark {
  --color-app-back: var(--color-neutral-800);
  --color-app-fore: var(--color-neutral-50);

  --color-action: var(--color-pink-600);
  --color-action-contrast: var(--color-white);
  --color-primary: var(--color-lime-700);
  --color-primary-contrast: var(--color-neutral-100);
  --color-primary-soft: var(--color-lime-400);
  --color-search: var(--color-black);
  --color-search-contrast: var(--color-white);
  --color-placeholder: var(--color-neutral-400);
  --color-drawer: var(--color-neutral-800);
  --color-drawer-header: var(--color-neutral-800);
  --color-header: var(--color-neutral-900);
  --color-header-contrast: var(--color-white);
  --color-button-hover: var(--color-neutral-700);
  --color-button-contrast: var(--color-white);
  --color-prompt: var(--color-white);
  --color-card: var(--color-neutral-800);
  --color-card-hover: var(--color-neutral-900);
  --color-not-found: var(--color-neutral-500);
  --color-list-name: var(--color-lime-600);
  --color-item-hover: var(--color-neutral-700);
  --color-item-hover-contrast: var(--color-white);
}

@layer components {
  .drawer {
    overflow: hidden;
    display: block;
    width: 16rem;

    @apply transition-all  duration-300 ease-in-out;
  }

  .drawer.open {
    opacity: 1;
    left: 0;
    @apply space-y-1;
  }

  .drawer:not(.open) {
    left: -16rem;
    opacity: 1;
  }
}
